@using System.Data.Entity.ModelConfiguration.Conventions
@using System.Web.UI.WebControls
@model StefanStoreDTO.ShippingDto.ShippingDetailsDto

@{
    ViewBag.Title = "SportStore: Checkout";
}

<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away!

@using (Ajax.BeginForm("Checkout", "Cart", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "cart"
}))
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>Name: @Html.EditorFor(x => x.Name)</div>
    <h3>Address</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>State: @Html.EditorFor(x => x.State)</div>
    <div>Zip: @Html.EditorFor(x => x.Zip)</div>
    <div>Country: @Html.EditorFor(x => x.Country)</div>
    <h3>Options</h3>
    <label>
        @Html.CheckBoxFor(x => x.FastDelivery)
    </label>
    <p align="center" class="actionButtons">
        @Html.ActionLink("Back", "Back")
        <input type="submit" class="actionButtons" value="Complete order" />
    </p>
    <script>
        $("#FastDelivery").click(function () {
            $.ajax({
                data: { 'FastDelivery': $('#FastDelivery').val() },
                url: '@Url.Action("FastDelivery", "Cart")',
                type: "POST",
                success: function (data) { }
            });
        });
    </script>
}



@*@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>Name: @Html.EditorFor(x => x.Name)</div>
    <h3>Address</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Line 3: @Html.EditorFor(x => x.Line3)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>State: @Html.EditorFor(x => x.State)</div>
    <div>Zip: @Html.EditorFor(x => x.Zip)</div>
    <div>Country: @Html.EditorFor(x => x.Country)</div>
    <h3>Options</h3>
    <label>
        @Html.CheckBoxFor(x => x.FastDelivery)
    </label>
    <p align="center" class="actionButtons">
        @Html.ActionLink("Back", "Back")
        <input type="submit" class="actionButtons" value="Complete order" />
    </p>
    
        <script>
        $("#FastDelivery").click(function () {
            $.ajax({
                data: { 'vvvv': $('#FastDelivery').val() },
                url: '@Url.Action("FastDelivery", "Cart")',
                type: "POST",
                success: function (data) { }
            });
        });
    </script>
}


*@




